body{
  margin-top: 30pt;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 30px; 
  
  text-align: left;
  
  font-family: Times;
  font-size: 12pt;
  line-height: 1.3;
  font-color: black; 
}

p.subject {
  font-family: Helvetica;
  font-style: bold;
  font-size: 10.5pt;
  font-color: #202020; 
  padding: 0cm 0cm 2cm 0cm
}

p.title {
  font-family: Helvetica;
  font-style: bold;
  font-size: 20pt;
  font-color: #202020; 
  padding: 0cm 0cm 2cm 0cm
}

.c1 {
   font-style: italic;
}
p.contrib {
  font-family: Helvetica;
  font-style: bold;
  font-size: 12pt;
  font-color: #202020; 
  padding: 0cm 0cm 0cm 6cm
}

p.aff {
  font-family: Helvetica;
  font-style: normal;
  font-size: 10pt;
  font-color: #202020; 
  padding: 0cm 0cm 0cm 6cm
}
p.abstract {
  font-size: 10.5pt;
}

.c13 {
  font-family: Helvetica;
  font-style: bold;
  font-color: #202020; 
}
li {
  font-size: 11pt;
}

p.secTitle1 {
  font-family: Helvetica;
  font-size: 15pt;
  font-style: bold;
  font-color: #202020; 
  padding: 1.5cm 0cm 0cm 0cm
}

p.secTitle2 {
  font-family: Helvetica;
  font-size: 13pt;
  font-style: bold;
  font-color: #202020; 
  padding: 0.5cm 0cm 0cm 0cm
}
p.secTitle3 {
  font-family: Helvetica;
  font-size: 12pt;
  font-style: bold;
  font-color: #202020; 
  padding: 0.5cm 0cm 0cm 0cm
}
.captionBlw {
  font-family: Helvetica;
  font-size: 10pt;
}


table {
    border-collapse: collapse;
    width: 100;
    heigh: 100;
    font-family: Helvetica;
    font-size: 8pt;
    background-color: #C0C0C0;
    }
    
table, td, th {
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
    text-align: left;
}

tr:nth-child(even){background-color: #E0E0E0}

.c49 {
  background-color: #202020;
    color: white;
}

img.fig-dir {
    max-width: 260px;
}
img.fig-center {
    max-width: 600px;
}
